main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}


.spinner {
  width: 200px;
}

.spinner path {
  transform-origin: 318px 437px;
  animation: scalePetal 1s linear infinite;
}

.spinner path:nth-child(1) {
  animation-delay: .25s;
}

.spinner path:nth-child(4) {
  animation-delay: .5s;
}

.spinner path:nth-child(3) {
  animation-delay: .75s;
}

.loading {
  width: 15rem;
  font-weight: 500;
  font-size: 2rem;
}

@keyframes scalePetal {
  12.5% {
    transform: scale(1.25);
  }
  25% {
    transform: scale(1);
  }
  37.5% {
    transform: scale(.75);
  }
  50% {
    transform: scale(1);
  }
}
